.film {
  width: 21%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 40px;
  top: -25px;


  color: #999;
  font-size: 27px;
  line-height: 1.8em;
  letter-spacing: .09em;
  text-align: center;

  transform-origin: 50% 100%;
  animation: scroll 500s linear;
}
/*
@keyframes scroll {
	0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-1500px);
  }
}*/

.scrolling-text-container {
  transform: rotateX(30deg);
}


@media screen and (max-width: 990px) {

  .film {
    padding: 10px;
  }
}

@media screen and (max-width: 935px) {

  .film {
    display: none;
  }
}
