.app {
  display: flex;
  min-height: 100%;
  background-image: url('stars.jpg');
}

hr {
  border: 0;
  width: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #feda4a, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #feda4a, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #feda4a, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #feda4a, #f0f0f0);
}

p, h2, h3 {
  color: #ffc500;
  text-align: center
}
