.main {
  width: 79%;
  border-left: .8px dotted #358a8d;
  padding-left: 25px;
}

header {
  border-bottom: .8px dotted #358a8d;
  padding-bottom: 30px;
  margin: auto;
  width: 90%;
}

.logo {
  width: 37%;
  padding: 30px;
  padding-right: 50px;
  display: block;
  margin: auto;
  color: #dddddd;
}

.favorites-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  border: 1.5px solid #358a8d;
  background-color: rgba(53, 53, 53, .7);
  width: 170px;
  height: 32px;
  font-family: 'Play', sans-serif;
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 14px;
  text-decoration: none;
  color: #999;
  padding-left: 12px;
}

.favorites-btn:hover {
  background-color: rgba(153, 153, 153, .6);
  color: #252525;
}

.favorites-btn:focus{
  outline: none;
  background-color: rgba(153, 153, 153, .6);
  color: #252525;
}

.favorites-count {
  padding: 0 10px;
  color: #45a2a5;
  font-size: 16px
}

/*"Loading.... message"*/
.loading {
  color: #999;
  margin: auto;
  margin-top: 50px;
  font-size: 26px;
}

/*CARD GRID*/
.card-grid {
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
}

/*cards display*/
h2 {
  font-size: 32px;
  letter-spacing: .4em;
  margin: 40px 0 25px 0;
  color: #999;
  text-align: center
}

.card {
  letter-spacing: .1em;
  background-color: rgba(53, 53, 53, .7);
  border: 1.5px solid #358a8d;
  width: 290px;
  min-height: 180px;
  margin: 20px;
}

h3 {
  padding-left: 20px;
  margin: auto;
  padding-bottom: 10;
  font-size: 20px;
  color: #45a2a5;
}

.card p {
  font-size: 18px;
  padding: 0 20px;
  color: #dddddd;
}

/*FAVORITES*/
.card-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #358a8d;
}

.fav-btn {
  background-color: rgba(53, 53, 53, .1);
  border: none;
  border-left: .5px solid #358a8d;
  display: block;
  width: 46px;
  height: 46px;
}

.fav-btn:hover {
  background-color: rgba(85, 168, 170, .2);
  outline: none;
}

.fav-btn:active {
  background-color: rgba(85, 168, 170, .2);
  outline: none;
}

.fav-btn:focus {
  outline: none
}
